@import "variables";
@import "common";

.gradient__bg__wrapper {
  background: $gradient-supersoft;
  border-radius: 0 0 12px 12px;
  position: relative;


  &:before, &:after {
    content: '';
    border-radius: 0 0 12px 12px;
    height: 50px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
  }

  &:before {
    background: #CACADB;
    width: 98%;
    bottom: -10px;
    z-index: -1;
  }

  &:after {
    background: #E7E7F2;
    width: 96%;
    bottom: -20px;
    z-index: -2;
  }
}

.header__home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 2;
}

.hero {
  background: url("../img/hero-img.png") no-repeat center top;
  background-size: contain;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__title {
    color: #FFF;
    text-align: center;
    font-size: $h1;
    font-weight: 700;
  }

  &__button {
    background: transparent;
    all: unset;
    position: absolute;
    bottom: 30px;
    cursor: pointer;

    &:hover {
      path {
        stroke: $accent;
        transition: all 0.3s ease;
      }

      circle {
        stroke: $accent;
        transition: all 0.3s ease;
      }
    }
  }
}

.info {
  padding: 60px 280px;

  &__wrapper {
    display: flex;
    gap: 60px;
  }

  &__list-block {
    width: 41%;
    border-right: 4px solid rgba(255, 255, 255, 0.30);
    height: 274px;
    padding-right: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    list-style: none;

    &__item {
      color: $grey-text;
      text-align: right;
      font-size: $h1;
      font-weight: 700;

      &:hover {
        color: $accent;
        cursor: pointer;
        transition: all 0.3s ease;
      }

      &--active {
        background: linear-gradient(90deg, #EF8080 0.84%, #F0145A 99.96%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .divider__tablet {
    display: none;
  }

  .info__text__block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 59%;


    .info__text__title {
      color: $white;
      font-size: $h2;
      font-weight: 700;
    }

    .info__text__paragraph {
      color: $white;
      font-size: 19px;
      line-height: 30px;
      align-self: stretch;
      max-width: 861px;

    }
  }


}

.services {
  padding: 60px 180px;

  &__text__wrapper {
    display: flex;
    gap: 2px;
    margin-bottom: 10px;

    &:hover {
      .services__text {
        color: $accent;
        cursor: pointer;
        transition: all 0.3s ease;
      }

      .services__text path {
        stroke: $accent;
        transition: all 0.3s ease;
      }
    }
  }

  &__text {
    color: $active-regular;
    font-size: $h3-caps;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;

    path {
      stroke: $active-regular;
    }
  }

  &__title {
    font-size: $h1;
    align-self: stretch;
    font-weight: 700;
    background: $gradient-red-text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 60px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 493px;
    flex: 1 0 calc(33.333% - 60px);

    &__title {
      color: $active-regular;
      font-size: $h3;
      font-weight: 700;
      align-self: stretch;
      margin-bottom: 15px;

      &:hover {
        color: $accent;
        cursor: pointer;
        transition: all 0.3s ease;
      }
    }

    &__paragraph {
      color: $white;
      font-size: $text-normal;
      line-height: 26px;
      align-self: stretch;
    }
  }

  &__icon {
    padding: 14px;
    width: 92px;
    height: 92px;
    margin-bottom: 30px;
    border-radius: 24px;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.team {
  padding: 60px 160px 30px;

  &__wrapper {
    display: flex;
    border-radius: 12px;
    background: $grey-bg-alt;
  }

  &__content {
    padding: 30px;
  }

  &__image {
    img {
      width: 400px;
      height: 100%;
      object-fit: cover;
      border-radius: 12px 0 0 12px;
    }
  }

  &__nav {
    display: flex;
    margin-bottom: 5px;

    &:hover {
      .team__nav__section {
        color: $accent;
        cursor: pointer;
        transition: all 0.3s ease;
      }

      .team__nav__arrow path {
        stroke: $accent;
        transition: all 0.3s ease;
      }
    }

    &__section {
      color: $active-regular;
      font-size: $h3-caps;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    &__title {
      font-size: $h1;
      font-weight: 700;
      background: $gradient-red-text;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 54px; /*збільшила тут падінг на 24 пх тому,що в мене не сходиться з дизайном(хоч всі параметри задані вірно по макету) наче у заголовка не вистачає 24 пх*/
    }

    &__text {
      color: $grey-text;
      font-size: $text-normal;
      font-weight: 700;
      align-self: stretch;
      margin-bottom: 6px;
    }

    &__small-text {
      color: $grey-text;
      font-size: $text-normal;
      line-height: 22px;
    }
  }


}

.slider__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 60px;
}

.trust-us {
  padding: 30px 100px 60px;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main;
    font-size: $h3-caps;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px;
  }

  &__block {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;

    &:nth-child(1) {
      background: #1C4280;
      border-top-left-radius: 12px;
    }

    &:nth-child(2) {
      background: #143646;
    }

    &:nth-child(3) {
      background: linear-gradient(0deg, #F48B30 0%, #F48B30 100%), #F48B30;
    }

    &:nth-child(4) {
      background: #9E4DC3;
      border-top-right-radius: 12px;
    }

    &:nth-child(5) {
      background: #FD9339;
    }

    &:nth-child(6) {
      background: #E2E2E4;
    }

    &:nth-child(7) {
      background: #C71C36;
    }

    &:nth-child(8) {
      background: #DCF3F9;
    }

    &:nth-child(9) {
      background: #EAEAEA;
      border-bottom-left-radius: 12px;
    }

    &:nth-child(10) {
      background: #282240;
    }

    &:nth-child(11) {
      background: #1D4568;
    }

    &:nth-child(12) {
      background: #000;
      border-bottom-right-radius: 12px;
    }
  }
}

.publications {
  padding: 30px 160px;
  background: $grey-bg;

  &__nav {
    display: flex;
    gap: 2px;

    &:hover {
      &__text {
        color: $accent;
        cursor: pointer;
        transition: all 0.3s ease;
      }

      &__arrow path {
        stroke: $accent;
        transition: all 0.3s ease;
      }
    }

    &__text {
      color: $active-regular;
      font-size: $h3-caps;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }

  &__title {
    background: $gradient-red-text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: $h1;
    font-weight: 700;
    margin-bottom: 30px;

  }

  &__wrapper {
    display: flex;
    gap: 30px;

  }

  &__block {
    background: $white;
    max-width: 513px;
    border-radius: 8px;


    &__img {
      height: 200px;
      border-radius: 8px 8px 0 0;
      width: 100%;
    }

    &__wrapper {
      padding: 30px;
    }

    &__title {
      color: $active-regular;
      font-size: $text-normal;
      font-weight: 700;
      margin-bottom: 15px;
    }

    &__date {
      color: $grey-text;
      font-size: $lang;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    &__divider {
      height: 4px;
      background: $grey-separator;
      margin-bottom: 15px;
    }

    &__text {
      color: $black;
      font-size: $h3-caps;
      line-height: 22px; /* 157.143% */
    }
  }
}

.separator {
  height: 2px;
  background: $grey-separator;
  margin-bottom: 30px;
}

/*Desktop SD*/

@media only screen and (max-width: 1440px) {

  .info {
    padding: 60px 180px;

    &__list-block {
      width: 43%;
    }

    &__text__block {
      width: 57%;
    }
  }
  .services {
    padding: 60px;
  }
  .team {
    padding: 60px 60px 30px;
  }
  .trust-us {
    padding: 30px 0 30px;

    &__wrapper {;
      border-radius: 0;
    }

    &__block {
      &:nth-child(1), &:nth-child(4), &:nth-child(9), &:nth-child(12) {
        border-radius: unset;
      }
    }
  }
  .publications {
    padding: 30px 60px 15px;

    &__block {
      width: 100%;
      max-width: 420px;
    }
  }
}

/*Tablet HD*/
@media only screen and (max-width: 1024px) {

  .info {
    padding: 60px 60px;

    &__list-block {
      width: 66%;
    }

    &__text__block {
      width: 34%;
    }

    &__list-block {
      height: 303px;

    }
  }
  .services {
    padding: 0 60px 60px;

    &__block {
      max-width: 261px;
    }
  }
  .trust-us {
    padding: 30px 0 0;
  }
  .team__nav__title {
    word-break: break-word;
  }
}

/*Tablet SD*/
@media only screen and (max-width: 768px) {
  .hero {
    background: url("../img/hero-tablet.png") no-repeat 25% 50%;
    min-height: 100vh;

    &__button {
      bottom: 30px;
    }

  }
  .info {
    padding: 60px 0 60px 60px;

    &__wrapper {
      flex-direction: column;
    }

    &__list-block {
      width: 100%;
      overflow-x: scroll;
      max-width: 1248px;
      border-right: none;
      padding-right: 0;
      height: unset;
      justify-content: flex-start;

      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }

    &__list {
      flex-direction: row;

      &__item {
        min-width: fit-content;
      }
    }

    &__text__block {
      width: 100%;
      padding-right: 60px;
    }

    .divider__tablet {
      display: block;
      margin-right: 60px;
      background: rgba(255, 255, 255, 0.30);
    }
  }
  .services {

    &__block {
      max-width: 100%;
      width: calc(50% - 30px);
      flex: unset;
    }
  }
  .team {
    &__wrapper {
      display: flex;
      flex-direction: column;
      border-radius: 12px 12px 0 0;
    }

    &__image {
      img {
        width: 100%;
        border-radius: 12px 12px 0 0;
      }
    }
  }
  .trust-us {

    &__block {
      width: 33.333%;
    }
  }
  .publications {

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    &__block {
      width: calc(50% - 15px);

      &__img {
        object-fit: cover;
      }

      &--large {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .team {
    padding: 30px;
  }
  .trust-us__block {
    width: 50%;

  }

}


/*Mobile*/
@media only screen and (max-width: 375px) {
  .hero {
    background: url("../img/hero-mobile.png") no-repeat center top;
    background-size: contain;
    min-height: 600px;
    height: unset;

    &__title {
      width: 315px;
    }
  }
  .info {
    padding: 30px;

    .info__text__block {
      width: 100%;
    }
  }
  .services {
    padding: 0 30px;

    &__title {
      font-size: 30px;
      margin-bottom: 30px;
    }

    &__wrapper {
      gap: 30px;
    }

    &__block {
      width: 100%;
      max-width: 100%;
      flex: unset;
    }
  }
  .gradient__bg__wrapper {
    &:before {
      width: 94%;
    }

    &:after {
      width: 90%;
    }
  }
  .team {
    padding: 30px;

    &__wrapper {
      border-radius: 12px;
      margin-top: 30px;
    }

    &__image {
      img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        border-radius: 12px 12px 0 0;
      }
    }

    &__content {
      padding: 30px;
    }
  }
  .trust-us__block {
    width: 100%;

    &:nth-child(n+7) {
      display: none
    }
  }
  .publications {
    padding: 30px;

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
    &__title{
      font-size: 30px;
    }

    &__block {
      width: 100%;
      max-width: 100%;
      flex: unset;

      &__img {
        height: 200px;
      }
    }
  }
}